h1 {
  font-size: 50px;
  color: rgb(112, 17, 17);
}

input {
  padding: 20px;
  width: 30%;
  margin: 30px;
  font-size: 20px;
  color: rgb(70, 68, 68);
}
button {
  margin-top: 50px;
  padding: 20px;
  width: 35%;
  font-size: 50px;
  background-color: red;
  color: white;
  border: red;
  border-radius: 50px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(112, 17, 17);
}
button:active {
  transform: translateY(5px);
}
